@import "tailwindcss";

@theme {
  --color-amber-50: #fdfbf0;
  --color-amber-100: #faf5e0;
  --color-amber-200: #f2e8c4;
  --color-amber-300: #e6d89e;
  --color-amber-400: #dac880;
  --color-amber-500: #ccb86c;
  --color-amber-600: #ad9c4a;
  --color-amber-700: #7d7235;
}

@layer base {
  html {
    overflow-x: hidden;
  }

  input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
    max-width: 100%;
  }
}
