@import "tailwindcss";

@theme {
  --color-amber-50: #fefef4;
  --color-amber-100: #fdfce6;
  --color-amber-200: #fcf9cc;
  --color-amber-300: #fbf6b0;
  --color-amber-400: #faf596;
  --color-amber-500: #fff47d;
  --color-amber-600: #c4b84e;
  --color-amber-700: #6b672a;
}

@layer base {
  html {
    overflow-x: hidden;
  }

  input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
    max-width: 100%;
  }
}
